body {
  width: 60%;
  max-width: 800px;
  margin:auto;
}

#Titre {
  float: right;
  margin-right: 55%;
  font-size: 2em;
  font-weight: bold;
  color: lightblue;
}

p {
  text-align: right;
  position: relative;
}
/*avoid the top-margin to interfer with the float*/
#Central::after,#Central::before {
  display: table;
  content: " ";
}
/*no floathing elements allods*/
#Central::after {
  clear: both;
}

section {
  position: relative;
  float: left;
  margin-right: auto;
}

aside {
  position: relative;
float: right;
text-align: right;
color: #068DB6;
}

li {
  list-style: none;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
}

.bottomtxt {
  font-size: 9px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
